.hero-mobile input{
    background-color: $Dark-Blue-Gray;
    color: $White;
    font-weight: 700;
    padding-left: pxToRem(30px);

}

.hero-mobile 

.hero-mobile button{
    background-color: $Teal;
    font-weight: 700;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: $Active-Teal;
}





